<!-- plot.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Ipro India Digitalization Report</title>
</head>
<body>
    <h1>Key Performance Indicators</h1>

    <!-- Cards for min, max, and avg  values -->
    <div>
        <h3>Massecutie Brix:</h3>
        <div>Minimum: {{ min_brix }} units</div>
        <div>Maximum: {{ max_brix }} units</div>
        <div>Average: {{ avg_brix }} units</div>
    </div>
    <div>
        <h4>Crystal Size:</h4>
        <div>Minimum: {{ min_crystalSize }} units</div>
        <div>Maximum: {{ max_crystalSize }} units</div>
        <div>Average: {{ avg_crystalSize }} units</div>
    </div>
    <div>
        <h5>Steam Pressure:</h5>
        <div>Minimum: {{ min_stmPress }} units</div>
        <div>Maximum: {{ max_stmPress }} units</div>
        <div>Average: {{ avg_stmPress }} units</div>

    </div>

</body>
</html>
